@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(255, 0, 0);
  --secondary: rgb(70, 70, 70);
}


.r34{
  clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
}
* {
  scrollbar-width: thin;
  scrollbar-color: var(--primary) var(--secondary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
/*   background: repeating-linear-gradient(
    45deg,
    var(--secondary),
    var(--secondary) 5px,
    var(--primary) 5px,
    var(--primary) 10px
  ); */
  border-radius: 20px;
  border: 3px solid var(--primary);
}
